$small-width: 767px;
$medium-width: 768px;
$large-width: 1280px;

$z-index-zero: 0;
$z-index-dropdown: 1;

$background-primary: #81b3d2;
$background-primary-hoover: #669ec0;
$background-primary-down: #5496bd;
$background-primary-disabled: #e5e5e5;
$background-secondary: #ffffff;

$background-input-primary: #f2f2f2;
$background-input-primary-hover: #e5e5e5;
$background-input-primary-down: #d5d5d5;

$font-color-primary: #000000;
$font-color-primary-hover: #81b3d2;
$font-color-primary-down: #b3b3b3;
$font-color-secondary: #ffffff;
$label-color: #333333;

$font-size-s: 14px;
$line-height-s: 21px;

$font-size-m: 18px;
$line-height-m: 26px;

$font-size-l: 21px;
$line-height-l: 26px;

$font-size-xl: 30px;
$line-height-xl: 26px;

$font-primary: "PT Sans", "Arial", sans-serif;
