.advantages__card-wrapper {
  display: flex;
  flex-direction: column;

  @include medium-size {
    flex-direction: row;
    min-height: 256px;
  }
}

.advantages__card-wrapper--even {
  @include medium-size {
    flex-direction: row-reverse;
  }
}

.advantages__image-wrapper {
  flex-grow: 1;
}

.advantages__image {
  display: block;
  object-fit: cover;
  @include medium-size {
    height: 256px;
  }
}

.advantages__advantages-card-list {
  background-color: #eeeeee;
  padding: 26px;
  display: flex;
  flex-direction: column;

  @include medium-size {
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
  }

  @include large-size {
    padding: 0 44px;
    justify-content: space-between;
  }
}

.advantages__features {
  display: flex;
  flex-direction: column;
  padding: 21px 18px 68px;

  @include medium-size {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 35px;
  }

  @include large-size {
    padding: 60px 55px 100px;
  }
}

.advantages__feature-card {
  display: flex;

  @include small-size {
    &:not(:first-child) {
      margin-top: 36px;
    }
  }

  @include medium-size {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 192px;
  }

  @include large-size {
    width: 290px;
  }
}

.advantages__feature-icon {
  flex-shrink: 0;
  fill: $background-primary;

  @include medium-size {
    width: 75px;
    height: 75px;
  }
}

.advantages__feature-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-top: 10px;

  @include medium-size {
    margin-left: 0;
    margin-top: 0;
  }
}

.advantages__feature-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;

  @include font-m;

  @include medium-size {
    margin-top: 23px;
  }
}

.advantages__feature-description {
  margin: 0;
  text-transform: uppercase;

  @include font-s;

  @include medium-size {
    margin-top: 22px;
  }

  @include large-size {
    margin-top: 5px;
  }
}
