.advantages__card-image-wrapper {
  display: flex;
  flex-direction: column;

  @include medium-size {
    flex-direction: row;
    height: 256px;
  }
}

.advantages__card-image-wrapper--even {
  @include medium-size {
    flex-direction: row-reverse;
  }
}

.advantages__image-wrapper {
  flex-grow: 1;
}

.advantages__image {
  object-fit: cover;
}

.advantages__advantages-card-list {
  background-color: #eeeeee;
  padding: 26px;
  display: flex;
  flex-direction: column;

  @include medium-size {
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
  }
}

.advantages__features {
  display: flex;
  flex-direction: column;
  padding: 25px 18px 52px;

  @include medium-size {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 36px;
  }
}

.advantages__feature-card {
  display: flex;

  @include small-size {
    &:not(:first-child) {
      margin-top: 25px;
    }
  }

  @include medium-size {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 285px;
  }
}

.advantages__feature-icon {
  fill: $background-primary;

  @include medium-size {
    width: 75px;
    height: 75px;
  }
}

.advantages__feature-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 8px;

  @include medium-size {
    margin-left: 0;
  }
}

.advantages__feature-title {
  position: relative;
  top: 8px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;

  @include font-l;

  @include medium-size {
    margin-top: 26px;
  }
}

.advantages__feature-description {
  margin-top: 16px;
  margin-bottom: 0;
  text-transform: uppercase;

  @include font-s;
}
