.advertising {
  padding: 0 20px;
  text-align: center;
}

.advertising__title {
  margin: 0;

  @include font-m;
  text-transform: uppercase;

  @include medium-size {
    @include font-l;
  }
}

.advertising__title--large {
  @include medium-size {
    @include font-xl;
  }
}

.advertising__description {
  margin-top: 24px;
  margin-bottom: 0;

  @include font-s;
  text-transform: uppercase;

  @include medium-size {
    margin-top: 29px
  }
}
