.button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  border: none;
  transition: 0.3s;

  @include font-m;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.button--primary {
  color: $font-color-secondary;
  background-color: $background-primary;

  &:hover {
    background-color: $background-primary-hoover;
  }

  &:active {
    color: fade-out($font-color-secondary, 0.3);
    background-color: $background-primary-down;
  }

  &:disabled {
    background-color: $background-primary-disabled;
    cursor: auto;
  }
}

.button--link {
  text-decoration: none;
}
