@mixin checkbox-icon-mixin {
  position: absolute;
  content: "";
  top: 15px;
  left: 12px;
  width: 23px;
  height: 16px;
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 46px;
}

.checkbox__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  transition: 0.3s;
  background-color: $background-input-primary;

  &:hover {
    background-color: $background-input-primary-hover;
  }
}

.checkbox__label {
  padding-left: 62px;
  @include font-m;
}

.checkbox__input {
  position: absolute;
  appearance: none;

  &:checked + .checkbox__icon {
    &::after {
      @include checkbox-icon-mixin;
      background-color: $label-color;
      mask-image: url("../img/checked.svg");
    }
  }

  &:focus + .checkbox__icon {
    background-color: $background-secondary;
    outline: 4px solid $background-input-primary-hover;
    outline-offset: -4px;
  }

  &:active + .checkbox__icon {
    &::after {
      @include checkbox-icon-mixin;
      background-color: fade-out($label-color, 0.7);
      mask-image: url("../img/checked.svg");
    }
  }
}
