$feedback-form-border-color: #dbdbdb;

@mixin pseudo-border-top {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $feedback-form-border-color;
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__info-wrapper {
  display: flex;
  flex-direction: column;

  @include medium-size {
    flex-direction: row;
    margin-top: 102px;
    padding: 0 16px;
  }

  @include large-size {
    flex-direction: row;
    margin-top: 67px;
    padding: 0 56px;
  }
}

.feedback-form__info-column {
  position: relative;
  padding: 24px 20px;

  @include small-size {
    @include pseudo-border-top;
  }

  @include medium-size {
    flex-basis: 50%;
    padding: 0 44px 16px;

    &:first-child {
      &::before { /* stylelint-disable-line */
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 1px;
        height: 100%;
        background-color: $feedback-form-border-color;
      }
    }
  }

  @include large-size {
    padding: 0 64px 16px;
    border-top: none;
  }
}

.feedback-form__info-column-first {
  padding-bottom: 39px;
}

.feedback-form__info-column-second {
  padding-bottom: 34px;
}

.feedback-form__section-wrapper {
  position: relative;
  padding: 24px 20px;

  @include small-size {
    @include pseudo-border-top;
  }

  @include medium-size {
    margin: 48px 60px 0;
    padding: 0;
  }

  @include large-size {
    margin: 73px 120px 0;
  }
}

.feedback-form__impression {
  @include medium-size {
    margin: 25px 60px 0;
    padding: 0;
  }
}

.feedback-form__section {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback-form__section-title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  @include medium-size {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: -1;
      background-color: $feedback-form-border-color;
    }
  }
}

.feedback-form__section-title {
  background-color: $background-secondary;
  padding: 0;
  display: block;

  @include font-m;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  @include medium-size {
    max-width: 402px;

    @include font-l;
  }
}

.feedback-form__radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include medium-size {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 0 36px;
  }

  @include large-size {
    margin-top: 45px;
    padding: 0 53px;
  }
}

.feedback-form__checkbox-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include medium-size {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 28px;
    padding: 0 84px;
  }

  @include large-size {
    margin-top: 59px;
    padding: 0 44px;
  }
}

.feedback-form__block-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include medium-size {
    margin-top: 28px;
  }
}

.feedback-form__input-wrapper {
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.feedback-form__radio-wrapper {
  @include small-size {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  @include medium-size {
    flex-basis: 50%;
    margin-top: 16px;

    &:first-child &:nth-child(2) {
      margin-top: 0;
    }
  }

  @include large-size {
    flex-basis: 33.3%;
    margin-top: 0;
  }
}

.feedback-form__checkbox-wrapper {
  @include small-size {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  @include medium-size {
    flex-basis: 50%;
    margin-top: 16px;

    &:first-child &:nth-child(2) {
      margin-top: 0;
    }
  }

  @include large-size {
    flex-basis: 25%;
    margin-top: 0;
  }
}

.feedback-form__submit {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  padding: 0 20px;

  @include medium-size {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    padding: 0 60px;
  }

  @include large-size {
    padding: 0 216px;
  }
}

.feedback-form__button-submit-wrapper {
  @include medium-size {
    min-width: 324px;
  }
}

.feedback-form__tooltip {
  text-align: right;
  font-size: 12px;
  line-height: $line-height-s;
  color: fade-out($font-color-primary, 0.6);
  text-transform: uppercase;

  @include medium-size {
    color: $font-color-primary;
  }
}

.feedback-form__review-wrapper {
  margin-top: 20px;
  height: 150px;

  @include medium-size {
    height: 160px;
  }

  @include large-size {
    padding: 0 94px;
  }
}
