.intro {
  width: 100%;
  height: 389px;
  position: relative;
  display: block;
  background-image: url("../img/intro-s-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  @include small-size-resolution-2x {
    background-image: url("../img/intro-s-2x.jpg");
  }

  @include medium-size {
    height: 518px;
    background-image: url("../img/intro-m-1x.jpg");
  }

  @include medium-size-resolution-2x {
    background-image: url("../img/intro-m-2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 1202px;
    height: 57px;
    background-image: url("../img/intro-triangle.svg");
    background-size: cover;
  }
}

.intro--short {
  height: 158px;

  @include medium-size {
    height: 290px;
  }

  @include large-size {
    height: 301px;
  }
}

.intro__image {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);

  @include medium-size {
    top: 77px;
    width: 461px;
    height: 350px;
  }
}

.intro__image--short {
  top: 52px;

  @include medium-size {
    top: 95px;
    width: 457px;
    height: 78px;
  }

  @include large-size {
    top: 102px;
  }
}
