.menu {
  position: relative;
  z-index: $z-index-dropdown;
  vertical-align: center;
}

.menu__toggle-button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

  @include medium-size {
    display: none;
  }
}

.menu__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr;

  @include medium-size {
    align-items: center;
    min-height: 56px;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
  }
}

.menu__list--hidden {
  @include small-size {
    height: 0;
    overflow: hidden;
  }
}

.menu__item {
  position: relative;

  @include small-size {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      height: 1px;
      width: 100%;
      background-image: linear-gradient(#6288a0 50%, #9ac2dc 50%);
    }

    &:last-child {
      &::after { /* stylelint-disable-line */
        height: 7px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      }
    }
  }
}

.menu__item-empty {
  display: none;

  @include medium-size {
    display: block;
  }
}

.menu__item-link {
  display: block;
  text-align: center;
  transition: 0.3s;

  @include small-size {
    padding: 17px 0 12px;

    &:hover {
      background-color: $background-primary-hoover;
    }

    &:active {
      background-color: $background-primary-down;
      color: fade-out($font-color-secondary, 0.3);
    }
  }

  @include font-m;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background-primary;
  color: $font-color-secondary;


  @include medium-size {
    @include font-s;
    color: $font-color-primary;
    background-color: transparent;
    padding: 6px;

    &:hover {
      color: $font-color-primary-hover;
    }

    &:active {
      color: $font-color-primary-down;
    }
  }
}

.menu__item-link--active {
  @include medium-size {
    color: #766357;
  }
}
