.page-footer {
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 0;
  justify-content: space-between;

  @include medium-size {
    height: 120px;
    flex-direction: row;
    padding: 0 60px;
  }

  @include medium-size {
    padding: 0 120px;
  }
}

.page-footer__hash-tag {
  @include font-l;
  text-transform: uppercase;
  font-weight: bold;
}

.page-footer__dev-info {
  display: flex;
  align-items: center;
}
