.page-header {
  position: relative;
  min-height: 56px;
  background-color: $background-secondary;
}

.page-header__logo {
  z-index: $z-index-dropdown;
  left: 50%;
  top: 0;
  position: absolute;
  transform: translateX(-50%);

  @include medium-size {
    z-index: $z-index-dropdown + 1;
  }
}
