.page-main__advertising {
  max-width: 520px;
  margin: auto;
}

.page-main__advantages {
  position: relative;
}

.page-main__advantages-divider {
  display: block;
  position: absolute;
  top: -16px;
  right: 0;

  @include medium-size {
    display: none;
  }
}

.page-main__posts-list {
  margin-top: 20px;
}

.page-main__video-player {
  margin-top: 6px;

  @include medium-size {
    margin-top: 90px;
  }
}

.page-main__map {
  height: 350px;
  overflow: hidden;
}
