.posts-list {
  display: flex;
  flex-direction: column;

  @include medium-size {
    padding: 0 60px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include large-size {
    padding: 0 0;
  }
}

.posts-list__post {
  position: relative;
  width: 100%;

  @include small-size {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
    }

    &:last-child {
      &::after { /* stylelint-disable-line */
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
      }
    }
  }

  @include medium-size {
    width: 50%;
  }

  @include large-size {
    width: 33.33%;
  }
}

.posts-list__post--main {
  width: 100%;
}
