@mixin radio-icon-mixin {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 46px;
}

.radio__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $background-input-primary;
  transition: 0.3s;

  &:hover {
    background-color: $background-input-primary-hover;
  }
}

.radio__label {
  padding-left: 62px;
}

.radio__input {
  position: absolute;
  appearance: none;

  &:checked + .radio__icon {
    &::after {
      @include radio-icon-mixin;
      background-color: $label-color;
    }
  }

  &:focus + .radio__icon {
    background-color: $background-secondary;
    outline: 4px solid $background-input-primary-hover;
    outline-offset: -4px;
  }

  &:active + .radio__icon {
    background-color: $background-input-primary-down;

    &::after {
      @include radio-icon-mixin;
      background-color: fade-out($label-color, 0.7);
    }
  }
}
