.socials__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials__item {
  &:not(:first-child) {
    margin-left: 6px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: $background-primary;
  transition: 0.3s;

  &:hover {
    background-color: $background-primary-hoover;
  }

  &:active {
    background-color: $background-primary-down;
  }

  &:active > .socials__icon {
    fill: fade-out($font-color-secondary, 0.3);
  }
}

.socials__icon {
  fill: $font-color-secondary;
}
